<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright 2024 OpenSynergy Indonesia
     Copyright 2024 PT. Simetri Sinergi Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->
<odoo>
    <menuitem
        id="menu_attendance_revision_configuration"
        name="Attendance Revision"
        parent="ssi_timesheet_attendance.menu_hr_attendance_configuration"
        sequence="10"
    />
</odoo>
